<footer class="py-5">
    <div class="container-lg">
      <div class="row">

      

        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Pizzaurant</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="/about" class="nav-link">Rólunk</a>
              </li>
             
           
            </ul>
          </div>
        </div>
       


        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Vásárlói tájékoztatók</h5>
            <ul class="menu-list list-unstyled">
             
              <li class="menu-item">
                <a href="#" class="nav-link">Kapcsolat</a>
              </li>
             
              
            
            </ul>
          </div>
        </div>
       
        
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6 copyright">
          <p>© 2024 Organic. All rights reserved.</p>
        </div>
        <div class="col-md-6 credit-link text-start text-md-end">
          <p>HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> </p>
        </div>
      </div>
    </div>
  </div>